# 19CSE305 ML - Pandas Exercise Questions - 30th Sep 2022

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Task 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Task 2. Download the dataset to your computer and unzip it.

### Task 3. Use the tsv file and assign it to a dataframe called food

In [ ]:
import pandas as pd

df = pd.read_csv("/en.openfoodfacts.org.products.tsv", sep='\t')

### Task 4. See the first 5 entries

In [ ]:
df.head(5)

### Task 5. What is the number of observations in the dataset?

In [ ]:
df.shape[0]

### Task 6. What is the number of columns in the dataset?

In [ ]:
df.shape[1]

### Task 7. Print the name of all the columns.

In [ ]:
for x in df.columns:
  print(x)

### Task 8. What is the name of 105th column?

In [ ]:
df.columns[104]

### Task 9. What is the type of the observations of the 105th column?

In [ ]:
df.dtypes['-glucose_100g']

### Task 10. How is the dataset indexed?

In [ ]:
df.index

### Task 11. What is the product name of the 19th observation?

In [ ]:
df.values[18][7]

### Task 12. How many columns in the dataset tend to have null values?

In [ ]:
sum = 0
for x in df.isnull().sum():
  if (x!=0):
    sum = sum + 1
print(sum)

### Task 13. Find the number of null values present under each column?

In [ ]:
i = 0
for x in df.isnull().sum():
  print(df.columns[i],x)
  i = i + 1

### Task 14. Create a dictionary with keys to be column names in the dataset and values to number of null values under each column. Print the dictionary by iterating through its elements using a for loop.

In [53]:
dic = {}
keys = df.columns
values = df.isnull().sum()
v = values.to_numpy()

dic = {keys[i]: v[i] for i in range(len(keys))}

In [ ]:
dic

### Task 15. Display the values associated with all columns from row 108 to 208?

In [ ]:
df.loc[108:208]